{% extends "base.html" %}

{% block title %} Войти {% endblock %}
{% block login_tab %} <li class="nav-item active"><a class="nav-link" href="/login"> Войти </a></li> {% endblock %}


{% block content %}
<h2 class="text-center"> Авторизация </h2>
<br>
<div class="container">
    <div class="card">
        <div class="card-body">
            <p class="text-center text-danger" style="font-size: 1.5rem;">{{ error_text }}</p>
            <form action="/login" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="input1" class="font-weight-bold"> Ваш логин </label>
                        {{ form.login(class_='form-control', id='input1', type='text', placeholder='Логин') }}
                        {% for error in form.errors.login %}
                            <span class="text-danger" style="font-size: 0.75rem;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="input2" class="font-weight-bold"> Пароль </label>
                        {{ form.password(class_='form-control', type='password', id='input2', placeholder='Пароль') }}
                        {% for error in form.errors.password %}
                            <span class="text-danger" style="font-size: 0.75rem;">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>

                <p class="text-center"><button type="submit" class="btn btn-primary"> Войти </button></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}